* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

body {
    background: #DEF4F3;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 2% auto 0 auto;
}

#logo {
    width: 300px;
    display: flex;
    display: inline-block;
}

#logo img {
    width: 16px;
    height: 16px;
    position: relative;
    top: -5px;
    display: inline-block;
}


#logo span {
    font: 400 1.8em raleway, sans-serif;
    color: #0D0D0D;
    display: inline-block;
    width: 150px;
}

#logo a {
    text-decoration: none;
    display: inline-block;
    color: #0D0D0D;
}

#menu {
    display: none;
}

nav {
    float: right;
}

nav ul li {
    list-style-type: none;
    display: inline;
    padding-right: 45px;
}

nav ul li a {
    color: #0D0D0D;
    font: 900 1rem Phosphate, sans-serif;
    text-decoration: none;
}

nav ul li a:hover {
    border-bottom: 5px solid #DE1A8B;
}

.content-row {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
    margin: 4% auto 0 auto;
}

.content-row .col {
    padding-top: 185px;
    width: 35%;

}

.content-row .col:nth-child(2) {
    padding: 0;
    width: 36.5%;
}


.content-row .col h1 {
    font: 900 2.3em phosphate, sans-serif;
    text-align: center;
    margin: 0 auto;
}

.content-row .col p {
    font: 400 1.2em Proxima Nova;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.content-row .col div {
    width: 50%;
    height: 60px;
    background: #E5E59E;
    box-shadow: 4px 1px 1px 0px #DE1A8B;
    margin: 25px auto 0 auto;
    cursor: pointer;
    border: 1px solid #0D0D0D;
}

.content-row .col div a {
    font: 900 1.8em phosphate, sans-serif;
    color: #DE1A8B;
    text-decoration: none;
    display: block;
    text-align: center;
    padding-top: 15px;
}

.content-row .col img {
    max-width: 40%;
    height: auto;
    position: fixed;
    right: 0;
    bottom: -20px;
    z-index: -99 !important;
}

footer {
    max-width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    z-index: -9 !important;
}

#footer-content {
    background: #E5E59E;
    width: 100%;
    height: 100px;
    text-align: center;


}

footer svg {
    height: 100%;
}


#footer-content ul {
    padding-top: 15px;
}

#footer-content ul li {
    list-style-type: none;
    display: inline;
    padding-right: 25px;
    font-size: 1.5em;
}

#footer-content ul li a {
    color: #0D0D0D;
    font: 900 1.5rem Phosphate, sans-serif;
}

#footer-content p {
    font: 1em Phosphate, sans-serif;
    margin: 10px auto 0 auto;
    width: 100%;
    text-align: center;
}



.jukebox-container {
    width: 25%;
    height: 600px;
    border-radius: 50px;
    background: #fafafa;
    padding: 4%;
    margin: 3% auto 0 auto;
    z-index: 999999 !important;
}




.jukebox-container h2 {
    font: 900 1.4em phosphate, sans-serif;
    text-align: left;
    margin: 0 auto 25px auto;
    color: #0D0D0D;
    line-height: 0.4em;
}

.jukebox-container .playlists {}





.jukebox-container ul li {
    list-style-type: none;
    display: inline;
}


.jukebox-container ul li a {
    color: #0D0D0D;
}


.jukebox-container .tab {
    margin: 0 auto;
    width: 100%;
    height: 60px;
    /* border: 1px solid #DE1A8B; */
    text-align: center;
    /* background: rgba(222, 26, 139, 0.4); */
    border: 1px solid rgba(0, 0, 0, 0.2);
}


.jukebox-container .tab button {
    font: 600 1.2em phosphate, sans-serif;
    color: #DE1A8B;
    margin: 10px 10px 10px 0;
    border: none;
    background: none;
    cursor: pointer;
    width: 40%;
    height: 50px;

}

.jukebox-container .songs {
    display: none;
    font: 900 1.2em Proxima Nova;
    text-align: left;
}

.jukebox-container .playlists {
    font: 900 1.2em Proxima Nova;
    text-align: left;
}

.content {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 400px;
    margin: 0 auto 50px auto;
}

.jukebox-container #music-footer-container {
    width: 100%;
    height: auto;
    margin: 75px 0;
}

.jukebox-container #music-footer-container button {
    background: #E5E59E;
    width: 46.5%;
    height: 60px;
    display: inline-block;
    font: 600 1.2em phosphate, sans-serif;
    box-shadow: 4px 1px 1px 0px #DE1A8B;
    text-align: center;
    color: #DE1A8B;
    cursor: pointer;
}


.jukebox-container #music-footer-container button:nth-of-type(1) {
    margin-right: 25px;

}


.playlists {}

.artist {
    width: 100%;
    height: 75px;
    background: #E5E59E;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 25px;
}

.details {
    width: 75%;
    height: auto;
    padding: 15px 0;
}

.details p:last-of-type {
    font-weight: 500;
}


.artist img:nth-child(1) {
    width: 54px;
    height: 54px;
    padding: 2%;
    border-radius: 50%;
}

.artist img:last-of-type {
    width: 28px;
    height: 24px;
    margin: auto 0;
    cursor: pointer;
    display: block;

}

.track-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 300px;
    margin-bottom: 25px;
    overflow-y: scroll;
    scroll-behavior: smooth;

}

.tracks {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.tracks ul {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding: 5px 15px 0 15px;
}

.tracks ul:hover {
    background: rgba(236, 61, 187, 0.3);
}

.tracks ul:last-of-type {
    border-bottom: none;
    padding-bottom: 10px;
}

.duration {
    width: 15% !important;
    float: right !important;
    display: block;
    text-align: right;
    font-weight: 500 !important;
    padding: 0 !important;
}

.tracks ul li:nth-child(odd) {
    list-style-type: none;
    display: block;
    color: #0D0D0D;
    font: 900 1em Proxima Nova;
    border-bottom: none;
    line-height: 0.4em;
    padding: 25px 0 5px 0;
    width: 100%;
}


.tracks ul li:nth-child(even) {
    padding-bottom: 5px;
}

.tracks ul li {
    list-style-type: none;
    display: inline;
    color: #0D0D0D;
    font: 500 0.9em Proxima Nova;
    padding: 1px 0 1px 0;
    width: 60%;
    float: left;
}

.track-footer {
    position: relative;
    top: -25px;
    width: 95.8%;
    height: auto;
    background: #d2f1ef;
    padding: 2%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.track-footer ul {
    width: 75%;
}

.track-footer ul li {
    list-style-type: none;
    display: inline;
}

.track-footer ul li img {
    width: 16;
    height: 16px;
    margin: auto 3px auto 8px;
    cursor: pointer;
    display: inline-block;
}

#track-header {
    width: 100%;
    height: 25px;
    padding: 5px 0;
    background: #9EE5E2;
}

#track-header p {
    /* position: absolute; */
    text-align: center;
    color: #0D0D0D;
    font: 900 0.8em Phosphate, sans-serif;
    /* transform: translateY(100%);
    animation: scrollText 5s linear infinite; */

}




#track-body {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin: 0 auto;
    padding-top: 8px;
}

#track-body img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: 0 10px;
}

#track-body ul:first-of-type {
    padding-left: 15px;
    padding-top: 0 !important;
}

#track-body ul:first-of-type li {
    text-align: left;
    display: block;
}

#track-body .fa-solid,
#track-body .fa-play-pause {
    color: #0D0D0D;
    font-size: 1.3em;
    cursor: pointer;
}

#track-body ul {
    width: 30%;
}

#track-body ul li:first-of-type {
    color: #0D0D0D;
    font: 500 0.9em Phosphate, sans-serif;
    text-align: left;
    margin-top: 8px;

}

#track-body ul:last-of-type li {
    color: #0D0D0D;
    font: 900 0.9em Proxima Nova, sans-serif;
    text-align: left;

}

#track-body ul li {
    color: #0D0D0D;
    font: 500 1em Proxima Nova;
}

#track-body ul li img {
    border-radius: 0;
    width: 13px;
    height: 12px;
}





/* @keyframes scrollText {
    0% {
        transform: translateY(100%);
        z-index: 9999 !important;
    }

    100% {
        transform: translateY(-100%);
        z-index: 9999 !important;
    }
}
 */







/* music - songs */


.jukebox-container .songs {}


.jukebox-container .songs {
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100%;
    height: 400px;
}



.jukebox-container .songs .artist {
    width: 100%;
    height: 75px;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 !important;
    cursor: pointer;
}


.jukebox-container .songs .artist:hover {
    background: rgba(236, 61, 187, 0.3);
}

.jukebox-container .songs .artist img {
    width: 54px;
    height: 54px;
    padding: 2%;
    border-radius: 50%;
}

.jukebox-container .songs .artist .details {
    width: 55%;
    height: auto;
}

.jukebox-container .songs .artist .details p:last-of-type {
    font-weight: 500;
    font-size: 0.6em !important;
}


.jukebox-container .songs .artist ul {
    width: 35%;
    margin-right: 15px;
}

.jukebox-container .songs .artist ul li img {
    width: 16px;
    height: 14px;
    border-radius: 0 !important;
    display: inline-block !important;
    margin-top: 5px;

}


.jukebox-container .songs .artist ul li span {
    display: inline-block !important;
    position: relative;
    top: -5px;
    left: 2px;
}


.jukebox-container .songs .artist ul li {
    width: 100%;
    display: inline-block !important;
    font-size: 0.8em;
    text-align: right;
}

.jukebox-container .songs .artist ul li:first-of-type {
    padding-top: 15px;
}


.jukebox-container .songs .artist ul li:last-of-type {
    font-size: 0.8em !important;
    font-weight: 900;
}

.login {
    width: 25%;
    height: 270px;
    border-radius: 50px;
    background: #fafafa;
    padding: 4%;
    margin: 6% auto 0 auto;
    z-index: 999999 !important;
}

.login h2,
.registration h2 {
    font: 900 1.4em phosphate, sans-serif;
    text-align: left;
    margin: 0 auto 25px auto;
    color: #0D0D0D;
    line-height: 0.4em;
}

.login form {
    margin-top: 40px;
}

form input::placeholder {
    padding-left: 3px;
}

.login form input[type='email'] {
    width: 100%;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
}

.login form input[type='password'] {
    width: 100%;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

.login form input[type='submit'] {
    background: #E5E59E;
    width: 100%;
    height: 60px;
    display: inline-block;
    font: 600 1.2em phosphate, sans-serif;
    box-shadow: 4px 1px 1px 0px #DE1A8B;
    text-align: center;
    color: #DE1A8B;
    cursor: pointer;
    margin-top: 25px;
}

.registration {
    width: 25%;
    height: 430px;
    border-radius: 50px;
    background: #fafafa;
    padding: 4%;
    margin: 6% auto 0 auto;
    z-index: 999999 !important;
}

.registration form {
    margin-top: 40px;
}


.registration form input[type='text'],
.registration form input[type='email'],
.registration form input[type='password'] {
    width: 100%;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 35px;
}

.registration form input[type='submit'] {
    background: #E5E59E;
    width: 100%;
    height: 60px;
    display: inline-block;
    font: 600 1.2em phosphate, sans-serif;
    box-shadow: 4px 1px 1px 0px #DE1A8B;
    text-align: center;
    color: #DE1A8B;
    cursor: pointer;
    margin-top: 5px;
}


/*

  color: #DE1A8B;
  font: 900 1.4em phosphate, sans-serif;
  border: 1px solid red;
  margin: 35px auto 0 auto;
  display: block;
  padding: 15px 15px;
  background: #E5E59E;
  text-align: center;
  box-shadow: 4px 1px 1px 0px #DE1A8B;
  cursor: pointer;

*/



.jukebox-container ul li a {
    text-decoration: none;
}



@media(max-width: 1024px) {
    nav ul {
        display: none;
    }

    #menu {
        display: block;
        color: #0D0D0D;
        font-size: 3em;
        cursor: pointer;
    }

    #logo {
        width: 180px;
        margin: 0 auto;
    }

    #logo span {
        font-size: 2.4em;
    }

    .content-row .col h1 {
        font: 900 1.5em phosphate, sans-serif;
        text-align: center;
        margin: 0 auto;
    }

    .content-row .col div {
        width: 45% !important;
        height: 50px;
        background: #E5E59E;
        margin: 0 auto;
    }

    .content-row .col p {
        font: 400 1em Proxima Nova;
        text-align: center;
        width: 85%;
        margin: 0 auto;
    }

    .content-row .col div a {
        font: 900 1.4em phosphate, sans-serif !important;
    }

}

@media(max-width: 1700px) {
    .content-row {
        width: 80%;
        margin: 4% auto 0 auto;
    }

    .content-row .col {
        width: 100%;
    }


    .content-row .col h1 {
        font: 900 2em phosphate, sans-serif;
        text-align: center;
        margin: 0 auto;
    }

    .content-row .col p {
        font: 400 1.2em Proxima Nova;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    .content-row .col div {
        width: 50%;
        height: 60px;
        background: #E5E59E;
        margin: 0 auto;
    }

    .content-row .col div a {
        font: 900 1.8em phosphate, sans-serif;
        color: #DE1A8B;
        text-decoration: none;
        display: block;
        text-align: center;
        margin-top: 25px;
        padding-top: 15px;

    }


}

@media(max-width: 1280px) {
    .content-row .col:nth-child(2) {
        display: none;
    }

    .content-row .col {
        padding-top: 85px;
        width: 100%;
    }

    .content-row .col h1 {
        font: 900 1.8em phosphate, sans-serif;
    }


    .content-row .col div {
        width: 30%;
        height: 60px;
        background: #E5E59E;
        margin: 0 auto;
    }



    .content-row .col div a {
        font: 900 1.8em phosphate, sans-serif;
        color: #DE1A8B;
        text-decoration: none;
        display: block;
        text-align: center;
        margin-top: 25px;
        padding-top: 15px;

    }

}

@media(max-width: 800px) {
    .content-row .col div {
        width: 40%;
        height: 50px;
        background: #E5E59E;
        margin: 0 auto;
    }

    .content-row .col div a {
        font: 900 1em phosphate, sans-serif !important;
        color: #DE1A8B;
        text-decoration: none;
        display: block;
        text-align: center;
        margin-top: 25px;
        padding-top: 15px;

    }

    .content-row .col h1 {
        font: 900 1.4em phosphate, sans-serif;
        text-align: center;
        margin: 0 auto;
    }

    .content-row .col p {
        font: 400 1em Proxima Nova;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    header {
        padding-top: 25px;
    }

}