<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.js" integrity="sha512-E378bwaeZf1nwXeJGIwTB58A5gPt5jFU3u6aTGja4ZdRFJeo/N/REKnBgNZOZlH6JdnOPO98vg2AnSGaNfCMFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
   </head>
  <body>
    <header>
       <div id="logo">
         <a href="{{ url_for('homepage')}}">
          <img src="{{ url_for('static', filename='images/song_note.png')}}" alt="music note icon">
          <span>Jukebox</span>
        </a> 
       </div> 
       <nav>
         <ul>
          <li><a href="" id="search">&#8981;</a></li>
           <li><a href="{{ url_for('songs')}}">YOUR MUSIC</a></li>
           <li><a href="{{ url_for('playlists')}}">PLAYLISTS</a></li>
           <li><a href="{{ url_for('login')}}">LOG IN</a></li>
           <li><a href="{{ url_for('register')}}">CREATE ACCOUNT</a></li>
         </ul>
         <div id="menu">&#9776;</div>
       </nav>
    </header>
    <div class="lyrics-overlay">
        <div class="close">X</div> 
        <div class="lyrics"></div> 
    </div>
    <div class="search-overlay">
        <div class="close">X</div> 
        <div class="search">
            <input type="text" class="search-results" placeholder="&#8981; Search"> 
            <div class="search-results"></div> 
        </div> 

    </div>
     {% block content %}
     {% endblock %}
    