{% extends 'base.j2' %}
{% block content %}
<div class="jukebox-container">
    <h2>Top Playlist</h2>
      <div class="playlist-details">
        <div class="artist">  
            <img src="" alt="">
            <p></p>
            <p></p>
        </div>
      </div>
    <div class="track-details">
       <div class="tracks">
          <p></p>
          <p></p>
        </div>
        <div class="duration">
          <p></p>
         </div>
        </div>
      <div class="track-footer">
        <ul>
        <li></li>  
        <li></li>  
        </ul>
    </div>
    <a href="">create playlist</a>
</div>
{% include 'footer.j2' %}
{% endblock %}